<div class="container">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
      <label for="username"><mat-label>Username:</mat-label></label>
      <input matInput type="text" id="username" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <mat-form-field>
      <label for="password"><mat-label>Password:</mat-label></label>
      <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
      <button mat-stroked-button color="primary" type="submit">Connecter</button>
        
    </form>
  </div>
  
  
