<mat-card *ngIf="assignmentTransmis">
    <mat-card-content>
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu |date}}</mat-card-subtitle>
    <p>Auteur : {{ assignmentTransmis.auteur }}</p>
    <p>Matière : {{ assignmentTransmis.matiere }}</p>
    <img src="{{ assignmentTransmis.imageUrlMatiere }}" alt="Image de la matière"> <br>
    <img src="{{ assignmentTransmis.prof }}" alt="Image du professeur">
    <p>Note : {{ assignmentTransmis.note }}</p>
    <p>Remarques : {{ assignmentTransmis.remarques }}</p>
    <mat-card-actions id="bottom">
        <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
        <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">Edit </button>
        <button mat-flat-button color="warn" [disabled]="!isAdmin()" (click)="onDelete()">Supprimer</button>
    </mat-card-actions>
    </mat-card-content>
</mat-card>