<div class="container">
<mat-card *ngIf="assignmentTransmis">
    <mat-card-content>
        <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date:"dd/MM/YYYY"}} </mat-card-subtitle>
        <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
    </mat-card-content>

<button mat-stroked-button (click)="onClickEdit()" [disabled]="!authService.isAdmin()">Modifier</button>

</mat-card>

<button class="ajouterBtn" mat-flat-button color="accent" (click)="onDeleteAssignment()" >
    Supprimer Assignment
  </button>

</div>
