<h3>{{ titre }}</h3>
<main class="container">
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn" mat-flat-button color="accent">Ajouter Assignment</button>
    </a>
  </div>

  <h3>Liste des devoirs :</h3>

  <div class="mat-table-container">
    <mat-checkbox (change)="applyFilterRendu($event)">Afficher seulement les assignments rendus</mat-checkbox>
    <mat-form-field>
      <mat-label>Rechercher par nom</mat-label>
      <input matInput (keyup)="applySearch($event)">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef> Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.rendu ? 'Oui' : 'Non'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let assignment">
          <a routerLink="/assignment/{{assignment.id}}">Détails</a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Pagination Controls -->
<div>
  <mat-paginator [length]="totalDocs"
               [pageSize]="limit"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="handlePageEvent($event)">
</mat-paginator>
</div>

</main>
