<h3>{{ titre }}</h3>
<main class="container">
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn" mat-flat-button color="accent">Ajouter Assignment</button>
    </a>
  </div>

  <h3>Liste des devoirs :</h3>

  <mat-list *ngFor="let assignment of assignments">
    <nav>
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu|date}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis">
            {{assignment.nom}} a été rendu.
          </p>
          <ng-template #nonsoumis>
            Le {{assignment.nom}}, n'a pas été rendu.
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>

  <!-- Pagination Controls -->
<div>
  <mat-paginator [length]="totalDocs"
               [pageSize]="limit"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="handlePageEvent($event)">
</mat-paginator>
</div>

<p>Total Assignments: {{ totalDocs }}, Total Pages: {{ totalPages }}</p>
</main>
