<h3>{{ titre }}</h3>
<main class="container">
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn" mat-flat-button color="accent">Ajouter Assignment</button>
    </a>
  </div>

  <h3>Liste des devoirs :</h3>

  <mat-list *ngFor="let assignment of assignments">
    <nav>
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu|date}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis">
            {{assignment.nom}} a été rendu.
          </p>
          <ng-template #nonsoumis>
            Le {{assignment.nom}}, n'a pas été rendu.
          </ng-template>

          <!-- Affichage des nouvelles propriétés -->
          <p>Auteur: {{ assignment.auteur }}</p>
          <p>Matière: {{ assignment.matiere }}</p>
          <p>Note: {{ assignment.note ? assignment.note : 'Non noté' }}</p>
          <p>Remarques: {{ assignment.remarques ? assignment.remarques : 'Aucune' }}</p>
          <img *ngIf="assignment.imageMatiere" [src]="assignment.imageMatiere" alt="Image de la matière" style="width: 50px; height: auto;"/>
          <img *ngIf="assignment.photoProf" [src]="assignment.photoProf" alt="Photo du professeur" style="width: 50px; height: auto;"/>
          
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>

  <!-- Pagination Controls -->
<div>
  <mat-paginator [length]="totalDocs"
               [pageSize]="limit"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="handlePageEvent($event)">
</mat-paginator>
</div>

</main>
