<div>
    <div>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <a id="nav" [routerLink]="['/home']"><button mat-button ><mat-icon>home</mat-icon></button></a>
                <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
                <button mat-button ><mat-icon>person</mat-icon></button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-sidenav-container>
            <mat-sidenav [(opened)]="opened" mode="side">
                <mat-nav-list>
                    <a mat-list-item>Liste de devoirs</a>
                    <a mat-list-item>Ajout de devoir</a>
                    <a mat-list-item>Modification de devoir</a>
                    <a mat-list-item>Supression de devoirs</a>
                    <a mat-list-item>Génération de données test</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>

<div class="container">
<h1>
    <nav><a routerLink="/home">{{titre}}</a></nav>
</h1>
<button mat-flat-button color="accent" (click)="login()">Connecter</button>
</div>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    
    </div>
</div>




