<mat-toolbar color="primary">
  <button mat-button routerLink="/home"><mat-icon>home</mat-icon> Accueil</button>
  <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
  <span class="spacer"></span>
  <button *ngIf="!isLogged()" mat-button routerLink="/login"><mat-icon>account_circle</mat-icon> Connexion</button>
  <button *ngIf="isLogged()" mat-button (click)="logOut()"><mat-icon>logout</mat-icon>Déconnexion</button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
      <mat-nav-list>
        <a mat-list-item href="#">Liste des devoirs</a>
        <a mat-list-item href="#">Ajout d'un devoir</a>
        <a mat-list-item href="#">Modification d'un devoir</a>
        <a mat-list-item href="#">Suppression d'un devoir</a>
        <a mat-list-item href="#">Génération de données de test</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <h1>
          <nav><a routerLink="/home">{{titre}}</a></nav>
        </h1>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
