<form ngForm (submit)="onSubmit(); assignmentForm.reset()" #assignmentForm class="form">
    <mat-form-field>
      <mat-label> Nom : </mat-label>
      <input matInput
             placeholder="Nom du devoir"
             [(ngModel)]="nomDevoir"
             name="nom"
      />
    </mat-form-field>
    
  
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker"
            [(ngModel)]="dateRendu"
            name="date"
      >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

     <!-- Nouveaux champs pour les propriétés ajoutées -->
    <mat-form-field>
      <mat-label>Auteur :</mat-label>
      <input matInput placeholder="Nom de l'auteur" [(ngModel)]="auteur" name="auteur"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Matière :</mat-label>
      <input matInput placeholder="Matière de l'assignment" [(ngModel)]="matiere" name="matiere"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image de la Matière :</mat-label>
      <input matInput placeholder="URL de l'image de la matière" [(ngModel)]="imageMatiere" name="imageMatiere"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Photo du Prof :</mat-label>
      <input matInput placeholder="URL de la photo du prof" [(ngModel)]="photoProf" name="photoProf"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Note (sur 20) :</mat-label>
      <input matInput placeholder="Note de l'assignment" [(ngModel)]="note" name="note" type="number"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Remarques :</mat-label>
      <textarea matInput placeholder="Remarques sur l'assignment" [(ngModel)]="remarques" name="remarques"></textarea>
    </mat-form-field>
   
    <button mat-stroked-button color="primary">Ajouter devoir</button>
  </form>
