<div class="container" *ngIf="assignment && canEdit">
    <h1>Edition de l'assignment {{assignment.nom}}</h1>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
      <mat-form-field>
        <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Auteur" [(ngModel)]="assignment.auteur" name="auteur">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Matière" [(ngModel)]="assignment.matiere" name="matiere">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="URL de l'Image de la Matière" [(ngModel)]="assignment.imageUrlMatiere" name="imageUrlMatiere">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="URL de l'Image du Professeur" [(ngModel)]="assignment.prof" name="imageUrlProf">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Note" type="number" [(ngModel)]="assignment.note" name="note">
      </mat-form-field>
      
      <mat-form-field>
        <textarea matInput placeholder="Remarques" [(ngModel)]="assignment.remarques" name="remarques"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!canEdit">
        Sauver
      </button>
    </form>
</div>
   
   